# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [6]:
tuple_of_integers = (1,2,3,4,5,6,7,8,9,10)
print("Tuple of integers:", tuple_of_integers)

tuple_of_integers = tuple(n for n in range(1, 11))
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple of integers: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [8]:
print("first element:", tuple_of_integers[0])
print("last element:", tuple_of_integers[-1])
print("middle element:", tuple_of_integers[len(tuple_of_integers) // 2])

first element: 1
last element: 10
middle element: 6

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [9]:
print("First 3 elements:", tuple_of_integers[:3])
print("Last 3 elements:", tuple_of_integers[-3:])
print("Elements from index 2 to 5:", tuple_of_integers[2:6])

First 3 elements: (1, 2, 3)
Last 3 elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [16]:
Mmatrix = tuple_of_integers[:3], tuple_of_integers[3:6], tuple_of_integers[6:9]
print("Matrix representation:", Mmatrix)

for row in Mmatrix:
    for element in row:
        print(element, end=' ')
    print()

print("Elements in 2nd row 3rd column:", Mmatrix[1][2])

Matrix representation: ((1, 2, 3), (4, 5, 6), (7, 8, 9))
1 2 3
4 5 6
7 8 9
Elements in 2nd row 3rd column: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [37]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

touple_concatenated = tuple1 + tuple2
print("Concatenated tuple:", touple_concatenated)

tuple1 = tuple1 + tuple2
print("Concatenated tuple:", tuple1) 
tuple1 += (7, 8, 9)
print("Concatenated tuple:", tuple1) 

try:
    tuple1[0] = 10
except TypeError as e:
    print("Error:", e)

try:
    tuple1.append(10)
except AttributeError as e:
    print("Error:", e)

Concatenated tuple: (1, 2, 3, 4, 5, 6)
Concatenated tuple: (1, 2, 3, 4, 5, 6)
Concatenated tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)
Error: 'tuple' object does not support item assignment
Error: 'tuple' object has no attribute 'append'

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [28]:
tuple_with_duplicates = (1, 2, 2, 3, 4, 4, 5)
unique_tuple = tuple(set(tuple_with_duplicates))

print("Tuple with duplicates:", tuple_with_duplicates)
print("Unique tuple:", unique_tuple)

for element in unique_tuple:
    if element in tuple_with_duplicates:
        print(f"Element {element} first occurance found at index {tuple_with_duplicates.index(element)}")

Tuple with duplicates: (1, 2, 2, 3, 4, 4, 5)
Unique tuple: (1, 2, 3, 4, 5)
Element 1 first occurance found at index 0
Element 2 first occurance found at index 1
Element 3 first occurance found at index 3
Element 4 first occurance found at index 4
Element 5 first occurance found at index 6

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [30]:
tuple_of_names = ("Alice", "Bob", "Charlie", "David", "Eve")
print("Tuple of names:", tuple_of_names)

# tuple unpacking
stuent1, student2, student3, student4, student5 = tuple_of_names
print("Student 1:", stuent1)
print("Student 2:", student2)
print("Student 3:", student3)
print("Student 4:", student4)
print("Student 5:", student5)

Tuple of names: ('Alice', 'Bob', 'Charlie', 'David', 'Eve')
Student 1: Alice
Student 2: Bob
Student 3: Charlie
Student 4: David
Student 5: Eve

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [32]:
list_of_integers = [1, 2, 3, 4, 5]
print("List of integers:", list_of_integers)

tuple_of_integers = tuple(list_of_integers)
print("Converted list to tuple:", tuple_of_integers)

List of integers: [1, 2, 3, 4, 5]
Converted list to tuple: (1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [33]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = (7, 8, 9)
tuple_of_tuples = (tuple1, tuple2, tuple3)
print("Tuple of tuples:", tuple_of_tuples)

Tuple of tuples: ((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.